* {
    box-sizing: border-box;
}

html {
    height: 100vh;
}

body {
    background-color: #FCD588;
    display: flex;
    flex-direction: column;
    height: 100%;
    margin: 0;
}

.header {
    background-color: #FF773D;
    padding: 48px;
}

.header_title {
    color: #FABC3C;
    font-size: 4rem;
    font-weight: bold;
    margin: 0;
    text-align: center;
    text-transform: uppercase;
    text-shadow: 2px 2px 4px #a0260d;
}

.sub-title {
    color: #FABC3C;
    font-size: 2rem;
    text-align: center;
    font-style: italic;
    text-shadow: 2px 2px 4px #a0260d;
}

.menu {
    background-color: #FABC3C;
    display: flex;
    flex-wrap: wrap;
    gap: 10px 20px;
    justify-content: space-evenly;
    padding: 16px;
    position: sticky;
    top: 0;

}

.menu_item {
    background-color: #FF773D;
    border-radius: 8px;
    color: #391C04;
    font-weight: bold;
    margin: 0 8px;
    padding: 8px;
    text-transform: uppercase;
    text-decoration: none;
}

.menu_item:hover {
    background-color: #FDE3AF;
}


.active{
    background-color: #FDE3AF;
}

.introduction {
    background-color: #FABC3C;
    border-radius: 10px;
    padding: 20px;
    text-align: center;
}

.introduction-text {
    font-size: 24px;
}

h2 {
    text-decoration: underline;
}


span {
    font-style: italic;
}

.main-image {
    background-image: url('../images/cheers.jpeg');
    background-position: center center;
    background-size: 100% auto;
    margin-top: 16px;
    min-height: 300px;
}

.main {
    flex-grow: 1;
    padding: 20px;
}


.container {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}

.a {
    color: black;
    text-decoration: none;
}

.a:visited {
    color: black;
}

.a:hover {
    color: #fdd767;
    text-decoration: none;
}

.article {
    background-color: #FF834A;
    border: 4px solid black;
    border-radius: 20px;
    flex: 0 0 calc(50% - 20px / 2);
    padding: 16px;

    h3 {
        text-align: center;
    }
    p {
        text-align: center;
    }
}

.article img {
    height: auto;
    width: 100%;
    border-radius: 8px;
}

.article p {
    font-size: 20px;
}

.footer {
    background-image: url('../images/beer-banner.jpg');
    background-position: center center;
    color: black;
    font-weight: bold;
    font-style: italic;
    padding: 20px;
    text-align: center;
}

.button {
    background-color: #F55536;
    border-radius: 16px;
    font-size: 20px;
    font-weight: bold;
    margin: 20px;
    padding: 16px;
    text-decoration: none;
}

.button:hover {
    background-color: #FABC3C;  
}


@media screen and (max-width:768px) {
    
    .header_title {
        font-size: 38px;
        text-align: center;
    }

    .sub-title {
        font-size: 18px;
    }

    .container {
        display: block;
    }
    
    .article {
        margin-bottom: 16px;
    }

    .article img {
        height: auto;
        width: 100%;
        border-radius: 8px;
    }

    .main-image {
        min-height: 200px;
}

    .menu{
        justify-content: space-between;
         position: relative;
    }

    .button {
        display: none;
    }

}